<div class="sticky-section ">
    <div class="sticky-head">
        <h3 class="sticky-hed-heading">Employee</h3>
        <h2 class="hed-text">Management</h2>
    </div>
    <nav>
        <ul class="main-nav-items p-0">
            <li><i class="fa-solid fa-house"></i> Dashboard</li>
            <li id="htmlEmployees"><i class="fa-solid fa-chart-simple"></i>Employees</li>
            <li><i class="fa-solid fa-user-large"></i>My Profile</li>
            <li><i class="fa-solid fa-lock"></i>Logout</li>
        </ul>
    </nav>
    <div class="footer-logo">
        <h5>Powered by <img src="./images/logo-icon.png" alt="Stackmode-logo-here"> </h5>
    </div>
</div>